<h2 style="color: #e67300;
           background-color: #FFFDD0; /* cream color */  
           font-family: 'Trebuchet MS', sans-serif; 
           font-weight: bold; 
           text-align: left; 
           padding: 15px;
           border-radius: 10px;
           font-size: 36px;
           margin-top: 50px;">
Business Intelligence Reporting - E-commerce Sector
</h2>

<div style="border-radius:10px; padding: 15px; background-color: #FFFDD0; font-size:100%; text-align:left">
<h2 align="left"><font color= #e67300; font-family= 'Trebuchet MS', sans-serif;>About Dataset:</font></h2>
    
Here is a brief description of each column in the dataset:

1. **Customer_ID**: Unique identifier for each customer.
2. **Customer_Age**: Age of the customer.
3. **Customer_Gender**: Gender of the customer.
4. **Customer_Location**: Geographic location of the customer.
5. **Customer_Type**: Classification of the customer as new or returning.
6. **Order_ID**: Unique identifier for each order.
7. **Order_Date**: Date of the order.
8. **Product_Category**: Category to which the product belongs (e.g., Electronics, Clothing).
9. **Brand**: Brand of the product.
10. **Product_Name**: Name of the product.
11. **Product_ID**: Unique identifier for each product.
12. **Quantity**: Quantity of product ordered.
13. **Product_Price**: Price per unit of the product.
14. **Discount**: Discount applied to the product.
15. **Revenue**: Total revenue from the order after discounts.
16. **Shipping_Fee**: Fee for shipping the order.
17. **Total_Order_Value**: Final order value including shipping and discounts.
18. **Order_Status**: Status of the order (e.g., Completed, Canceled).
19. **Payment_Type**: Payment method used (e.g., Credit Card).
20. **Session_ID**: Unique identifier for each website session.
21. **Page_Views**: Number of pages viewed in the session.
22. **Session_Duration**: Duration of the session in seconds.
23. **Bounce_Rate**: Indicator if session ended without interaction.
24. **Exit_Rate**: Rate of exits from the page.
25. **Campaign_ID**: Unique identifier for each marketing campaign.
26. **Channel**: Marketing channel through which the customer arrived.
27. **Campaign_Cost**: Cost of the marketing campaign.
28. **Coupon_Code**: Code used by customers for discounts.
29. **Ad_Clicks**: Number of clicks on ads in the campaign.
30. **Conversion_Rate**: Percentage of sessions that led to purchases.
31. **Shipping_Method**: Mode of shipping (e.g., Standard, Expedited).
32. **Shipping_Date**: Date the product was shipped.
33. **Delivery_Date**: Date the product was delivered.
34. **Delivery_Status**: Status of the delivery (e.g., On-Time, Delayed).
35. **Repeat_Purchase_Flag**: Indicates if the customer is a repeat buyer.
36. **Customer_Lifetime_Value**: Total revenue from a customer over time.
37. **Fraud_Flag**: Indicator if the transaction was potentially fraudulent.
38. **Risk_Score**: Risk assessment score for the transaction.

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

#Set display options to show all rows and columns
pd.set_option("display.max_rows", None)  # Show all rows
pd.set_option("display.max_columns",None) # Show all columns
pd.set_option("display.expand_frame_repr",False) # Prevent line breaks in dataframe

In [2]:
df = pd.read_csv("ecommerce_bi_dataset.csv")
df.head()

   Customer_ID  Customer_Age Customer_Gender Customer_Location Customer_Type  Order_ID  Order_Date Product_Category         Brand Product_Name  Product_ID  Quantity  Product_Price  Discount  Revenue  Shipping_Fee  Total_Order_Value Order_Status      Payment_Type  Session_ID  Page_Views  Session_Duration  Bounce_Rate  Exit_Rate  Campaign_ID         Channel  Campaign_Cost Coupon_Code  Ad_Clicks  Conversion_Rate Shipping_Method Shipping_Date Delivery_Date Delivery_Status  Repeat_Purchase_Flag  Customer_Lifetime_Value  Fraud_Flag  Risk_Score
0        25795            31            Male          Illinois     Returning    299773  2021-08-17      Electronics          Dell           TV        8508         7         222.54     24.52  1533.26          5.20            1538.46     Canceled    Digital Wallet      894321           5            577.95            0       0.72         6318           Email         373.48  DISCOUNT10         31             0.24       Expedited    2021-08-19    2021-08-22         On-Time                     1                   577.67           0        0.24
1        10860            41            Male        California     Returning    114925  2021-02-21       Home Decor  Pottery Barn     Curtains        8900         8         175.74     42.96  1362.96          5.74            1368.70     Returned  Cash on Delivery      540347           1            785.43            0       0.76         4611    Social Media         172.59     NEWUSER         40             0.15       Expedited    2021-02-26    2021-03-08         On-Time                     1                   348.01           0        0.24
2        86820            41            Male          New York           New    884724  2022-07-18            Books  Random House      Science        2099         4         353.15     49.79  1362.81         14.12            1376.93     Canceled  Cash on Delivery      722074           8             93.92            0       0.53         8628  Organic Search         450.58         NaN          2             0.15       Expedited    2022-07-21    2022-07-23         Delayed                     0                   461.26           0        0.24
3        64886            52           Other          New York     Returning    843638  2022-05-17      Electronics            LG   Smartwatch        7036         7         484.33     48.87  3341.44         16.53            3357.97     Returned  Cash on Delivery      602621          18           1107.43            0       0.18         6108             PPC         288.18  DISCOUNT10         26             0.01        Standard    2022-05-20    2022-05-27         Delayed                     1                   539.37           0        0.24
4        16265            22          Female          New York     Returning    908494  2022-04-03         Clothing          Zara     Sneakers        2877         5         244.13     42.44  1178.21          2.75            1180.96    Completed  Cash on Delivery      703639          18            947.30            1       0.69         9103  Organic Search          95.66         NaN         21             0.18       Expedited    2022-04-08    2022-04-13         On-Time                     1                   281.31           0        0.24

In [3]:
# Display the first few rows and the info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35686 entries, 0 to 35685
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer_ID              35686 non-null  int64
 1   Customer_Age             35686 non-null  int64
 2   Customer_Gender          35686 non-null  object
 3   Customer_Location        35686 non-null  object
 4   Customer_Type            35686 non-null  object
 5   Order_ID                 35686 non-null  int64
 6   Order_Date               35686 non-null  object
 7   Product_Category         35686 non-null  object
 8   Brand                    35686 non-null  object
 9   Product_Name             35686 non-null  object
 10  Product_ID               35686 non-null  int64
 11  Quantity                 35686 non-null  int64
 12  Product_Price            35686 non-null  float64
 13  Discount                 35686 non-null  float64
 14  Revenue                  35686 non-null  float64
 15  Shipping_Fee             35686 non-null  float64
 16  Total_Order_Value        35686 non-null  float64
 17  Order_Status             35686 non-null  object
 18  Payment_Type             35686 non-null  object
 19  Session_ID               35686 non-null  int64
 20  Page_Views               35686 non-null  int64
 21  Session_Duration         35686 non-null  float64
 22  Bounce_Rate              35686 non-null  int64
 23  Exit_Rate                35686 non-null  float64
 24  Campaign_ID              35686 non-null  int64
 25  Channel                  35686 non-null  object
 26  Campaign_Cost            35686 non-null  float64
 27  Coupon_Code              26652 non-null  object
 28  Ad_Clicks                35686 non-null  int64
 29  Conversion_Rate          35686 non-null  float64
 30  Shipping_Method          35686 non-null  object
 31  Shipping_Date            35686 non-null  object
 32  Delivery_Date            35686 non-null  object
 33  Delivery_Status          35686 non-null  object
 34  Repeat_Purchase_Flag     35686 non-null  int64
 35  Customer_Lifetime_Value  35686 non-null  float64
 36  Fraud_Flag               35686 non-null  int64
 37  Risk_Score               35686 non-null  float64
dtypes: float64(11), int64(12), object(15)
memory usage: 10.3+ MB

In [4]:
df.describe().T

                           count           mean           std        min          25%         50%          75%        max
Customer_ID              35686.0   54917.244326  2.630041e+04   10002.00   31817.2500   55030.000   77949.7500   99998.00
Customer_Age             35686.0      40.988091  1.356766e+01      18.00      29.0000      41.000      53.0000      64.00
Order_ID                 35686.0  550528.956650  2.595529e+05  100001.00  327389.0000  551658.500  775113.0000  999986.00
Product_ID               35686.0    5509.111921  2.593426e+03    1000.00    3254.0000    5510.000    7744.0000    9998.00
Quantity                 35686.0       5.008182  2.587592e+00       1.00       3.0000       5.000       7.0000       9.00
Product_Price            35686.0     252.978427  1.431250e+02       5.01     128.4325     253.220     376.8375     499.98
Discount                 35686.0      24.946869  1.447487e+01       0.00      12.3100      24.950      37.5000      50.00
Revenue                  35686.0    1242.483029  1.043862e+03     -42.98     386.5500     938.535    1865.6675    4489.59
Shipping_Fee             35686.0       9.981453  5.780445e+00       0.00       4.9500       9.990      14.9900      20.00
Total_Order_Value        35686.0    1252.464483  1.043902e+03     -39.58     396.5625     948.435    1876.3675    4501.48
Session_ID               35686.0  547886.074707  2.600468e+05  100011.00  322280.2500  548303.500  771440.5000  999985.00
Page_Views               35686.0      10.004231  5.484747e+00       1.00       5.0000      10.000      15.0000      19.00
Session_Duration         35686.0     914.521713  5.110588e+02      30.07     471.4225     914.025    1357.0150    1799.98
Bounce_Rate              35686.0       0.297287  4.570705e-01       0.00       0.0000       0.000       1.0000       1.00
Exit_Rate                35686.0       0.552357  2.596291e-01       0.10       0.3300       0.550       0.7800       1.00
Campaign_ID              35686.0    5505.576220  2.589256e+03    1000.00    3269.2500    5501.000    7733.7500    9998.00
Campaign_Cost            35686.0     255.098652  1.414277e+02      10.00     132.2125     255.250     377.2050     499.99
Ad_Clicks                35686.0      24.500196  1.450173e+01       0.00      12.0000      24.000      37.0000      49.00
Conversion_Rate          35686.0       0.130771  6.934257e-02       0.01       0.0700       0.130       0.1900       0.25
Repeat_Purchase_Flag     35686.0       0.400689  4.900450e-01       0.00       0.0000       0.000       1.0000       1.00
Customer_Lifetime_Value  35686.0     526.598689  2.744354e+02      50.01     287.0775     526.295     765.4375     999.99
Fraud_Flag               35686.0       0.020008  1.400289e-01       0.00       0.0000       0.000       0.0000       1.00
Risk_Score               35686.0       0.240000  1.640378e-13       0.24       0.2400       0.240       0.2400       0.24

<h2 align="left"><font color= #e67300; font-family= 'Trebuchet MS', sans-serif;>Data Cleaning:</font></h2>

In [5]:
# Check for missing values in the dataset
missing_values = df.isnull().sum()

# Display columns with missing values (if any)
print("Missing values per column:")
print(missing_values)

Missing values per column:
Customer_ID                   0
Customer_Age                  0
Customer_Gender               0
Customer_Location             0
Customer_Type                 0
Order_ID                      0
Order_Date                    0
Product_Category              0
Brand                         0
Product_Name                  0
Product_ID                    0
Quantity                      0
Product_Price                 0
Discount                      0
Revenue                       0
Shipping_Fee                  0
Total_Order_Value             0
Order_Status                  0
Payment_Type                  0
Session_ID                    0
Page_Views                    0
Session_Duration              0
Bounce_Rate                   0
Exit_Rate                     0
Campaign_ID                   0
Channel                       0
Campaign_Cost                 0
Coupon_Code                9034
Ad_Clicks                     0
Conversion_Rate               0
Shipping_Method               0
Shipping_Date                 0
Delivery_Date                 0
Delivery_Status               0
Repeat_Purchase_Flag          0
Customer_Lifetime_Value       0
Fraud_Flag                    0
Risk_Score                    0
dtype: int64

In [6]:
# Fill missing values in Coupon_Code with 'No Coupon'
df['Coupon_Code'] = df['Coupon_Code'].fillna('No Coupon')

# Verify if the missing values were handled
missing_values_after_fill = df['Coupon_Code'].isnull().sum()
print(f"\nMissing values in 'Coupon_Code' after filling: {missing_values_after_fill}")

Missing values in 'Coupon_Code' after filling: 0

In [7]:
# Ensure correct data types for columns
print("\nData types of columns:")
print(df.dtypes)

Data types of columns:
Customer_ID                  int64
Customer_Age                 int64
Customer_Gender             object
Customer_Location           object
Customer_Type               object
Order_ID                     int64
Order_Date                  object
Product_Category            object
Brand                       object
Product_Name                object
Product_ID                   int64
Quantity                     int64
Product_Price              float64
Discount                   float64
Revenue                    float64
Shipping_Fee               float64
Total_Order_Value          float64
Order_Status                object
Payment_Type                object
Session_ID                   int64
Page_Views                   int64
Session_Duration           float64
Bounce_Rate                  int64
Exit_Rate                  float64
Campaign_ID                  int64
Channel                     object
Campaign_Cost              float64
Coupon_Code                 object
Ad_Clicks                    int64
Conversion_Rate            float64
Shipping_Method             object
Shipping_Date               object
Delivery_Date               object
Delivery_Status             object
Repeat_Purchase_Flag         int64
Customer_Lifetime_Value    float64
Fraud_Flag                   int64
Risk_Score                 float64
dtype: object

In [9]:
# For datetime columns, ensure they are in datetime64 format
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Shipping_Date'] = pd.to_datetime(df['Shipping_Date'])
df['Delivery_Date'] = pd.to_datetime(df['Delivery_Date'])

# Display cleaned data info
print("\nData after cleaning:")
print(df.info())

Data after cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35686 entries, 0 to 35685
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer_ID              35686 non-null  int64
 1   Customer_Age             35686 non-null  int64
 2   Customer_Gender          35686 non-null  object
 3   Customer_Location        35686 non-null  object
 4   Customer_Type            35686 non-null  object
 5   Order_ID                 35686 non-null  int64
 6   Order_Date               35686 non-null  datetime64[ns]
 7   Product_Category         35686 non-null  object
 8   Brand                    35686 non-null  object
 9   Product_Name             35686 non-null  object
 10  Product_ID               35686 non-null  int64
 11  Quantity                 35686 non-null  int64
 12  Product_Price            35686 non-null  float64
 13  Discount                 35686 non-null  float64
 14  Revenue                  35686 non-null  float64
 15  Shipping_Fee             35686 non-null  float64
 16  Total_Order_Value        35686 non-null  float64
 17  Order_Status             35686 non-null  object
 18  Payment_Type             35686 non-null  object
 19  Session_ID               35686 non-null  int64
 20  Page_Views               35686 non-null  int64
 21  Session_Duration         35686 non-null  float64
 22  Bounce_Rate              35686 non-null  int64
 23  Exit_Rate                35686 non-null  float64
 24  Campaign_ID              35686 non-null  int64
 25  Channel                  35686 non-null  object
 26  Campaign_Cost            35686 non-null  float64
 27  Coupon_Code              35686 non-null  object
 28  Ad_Clicks                35686 non-null  int64
 29  Conversion_Rate          35686 non-null  float64
 30  Shipping_Method          35686 non-null  object
 31  Shipping_Date            35686 non-null  datetime64[ns]
 32  Delivery_Date            35686 non-null  datetime64[ns]
 33  Delivery_Status          35686 non-null  object
 34  Repeat_Purchase_Flag     35686 non-null  int64
 35  Customer_Lifetime_Value  35686 non-null  float64
 36  Fraud_Flag               35686 non-null  int64
 37  Risk_Score               35686 non-null  float64
dtypes: datetime64[ns](3), float64(11), int64(12), object(12)
memory usage: 10.3+ MB
None

<h2 align="left"><font color= #e67300; font-family= 'Trebuchet MS', sans-serif;>Data Transformation</font></h2>

In [10]:
# Extracting the Order Month, Order Year, and Order Day of Week from Order_Date
df['Order_Month'] = df['Order_Date'].dt.month
df['Order_Year'] = df['Order_Date'].dt.year
df['Order_Day_of_Week'] = df['Order_Date'].dt.dayofweek  # Monday=0, Sunday=6

# Calculating Profit (Revenue - Shipping Fee - Discount)
df['Profit'] = df['Revenue'] - df['Shipping_Fee'] - df['Discount']

# Verify new columns
print("\nFirst few rows after transformation:")
print(df[['Order_Date', 'Order_Month', 'Order_Year', 'Order_Day_of_Week', 'Profit']].head())

First few rows after transformation:
  Order_Date  Order_Month  Order_Year  Order_Day_of_Week   Profit
0 2021-08-17            8        2021                  1  1503.54
1 2021-02-21            2        2021                  6  1314.26
2 2022-07-18            7        2022                  0  1298.90
3 2022-05-17            5        2022                  1  3276.04
4 2022-04-03            4        2022                  6  1133.02

<h2 align="left"><font color= #e67300; font-family= 'Trebuchet MS', sans-serif;>Exploratory Data Analysis</font></h2>

In [11]:
# Total Revenue and Total Profit
total_revenue = df['Revenue'].sum()
total_profit = df['Profit'].sum()

print(f"Total Revenue: ${total_revenue:,.2f}")
print(f"Total Profit: ${total_profit:,.2f}")

Total Revenue: $44,339,249.39
Total Profit: $43,092,797.30

In [16]:
# Revenue and Profit by Product Category
revenue_by_category = df.groupby('Product_Category')[['Revenue', 'Profit']].sum().reset_index()

# Revenue and Profit by Customer Type
revenue_by_customer_type = df.groupby('Customer_Type')[['Revenue', 'Profit']].sum().reset_index()

# Average Order Value and Average Profit
avg_order_value = df['Total_Order_Value'].mean()
avg_profit = df['Profit'].mean()

print(f"\nAverage Order Value: ${avg_order_value:,.2f}")
print(f"Average Profit: ${avg_profit:,.2f}")

Average Order Value: $1,252.46
Average Profit: $1,207.55

In [17]:
# Display the summarized data for further insights
print("\nRevenue and Profit by Product Category:")
revenue_by_category

Revenue and Profit by Product Category:

  Product_Category     Revenue      Profit
0           Beauty  8853902.01  8601959.06
1            Books  8929140.58  8682508.89
2         Clothing  8882726.25  8628133.66
3      Electronics  8816905.84  8568805.89
4       Home Decor  8856574.71  8611389.80

In [14]:
print("\nRevenue and Profit by Customer Type:")
revenue_by_customer_type

Revenue and Profit by Customer Type:

  Customer_Type      Revenue       Profit
0           New  22268082.30  21648890.42
1     Returning  22071167.09  21443906.88

<h2 align="left"><font color= #e67300; font-family= 'Trebuchet MS', sans-serif;>Identifying Key Matrics</font></h2>

In [18]:
# Display the calculated KPIs
# Customer Lifetime Value (CLV) - Total Revenue / Number of Unique Customers
unique_customers = df['Customer_ID'].nunique()
clv = total_revenue / unique_customers
print(f"\nCustomer Lifetime Value (CLV): ${clv:,.2f}")

Customer Lifetime Value (CLV): $1,509.16

In [19]:
# Conversion Rate (Total Orders / Total Page Views)
total_page_views = df['Page_Views'].sum()
total_orders = df['Order_ID'].nunique()
conversion_rate = total_orders / total_page_views
print(f"Conversion Rate: {conversion_rate:.2%}")

Conversion Rate: 9.81%

In [20]:
# Customer Retention Rate (percentage of customers with Repeat_Purchase_Flag = 1)
repeat_customers = df[df['Repeat_Purchase_Flag'] == 1]['Customer_ID'].nunique()
retention_rate = (repeat_customers / unique_customers) * 100
print(f"Customer Retention Rate: {retention_rate:.2f}%")

Customer Retention Rate: 44.99%

In [21]:
# Export the cleaned and transformed dataset to a CSV file
df.to_csv('ecommerce_data_transformed.csv', index=False)

print("\nData has been successfully exported to 'ecommerce_data_transformed.csv'")

Data has been successfully exported to 'ecommerce_data_transformed.csv'